{% extends 'base.html' %}
{% block conteudo %}
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>nome</th>
        <th>email</th>
        <th>cep</th>
        <th>ações</th>
    </tr>
    </thead>
    <tbody>
    {% for diarista in diaristas %}
    <tr>
        <td>{{diarista.id}}</td>
        <td>{{diarista.nome}}</td>
        <td>{{diarista.email}}</td>
        <td>{{diarista.cep}}</td>
        <td>
            <a href="#">editar</a>
            <a href="#">remover</a>
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock conteudo %}
